# Copyright (C) 2021 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on fs
    # Brightness
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness

    # FSC
    chown system system /sys/module/fsc/parameters/enable
    chmod 0664 /sys/module/fsc/parameters/enable

on boot
    # Display
    chmod 0666 /sys/class/drm/card0-DSI-1/SRGB
    chown system system /sys/class/drm/card0-DSI-1/SRGB
    chmod 0666 /sys/class/drm/card0-DSI-1/DCI_P3
    chown system system /sys/class/drm/card0-DSI-1/DCI_P3
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chown system system /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/op_friginer_print_hbm
    chown system system /sys/class/drm/card0-DSI-1/op_friginer_print_hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/aod
    chown system system /sys/class/drm/card0-DSI-1/aod
    chmod 0666 /sys/class/drm/card0-DSI-1/night_mode
    chown system system /sys/class/drm/card0-DSI-1/night_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/panel_serial_number
    chown system system /sys/class/drm/card0-DSI-1/panel_serial_number
    chmod 0666 /sys/class/drm/card0-DSI-1/oneplus_mode
    chown system system /sys/class/drm/card0-DSI-1/oneplus_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/adaption_mode
    chown system system /sys/class/drm/card0-DSI-1/adaption_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_fppress
    chown system system /sys/class/drm/card0-DSI-1/notify_fppress
    chmod 0666 /sys/class/drm/card0-DSI-1/dim_alpha
    chown system system /sys/class/drm/card0-DSI-1/dim_alpha
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_dim
    chown system system /sys/class/drm/card0-DSI-1/notify_dim
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_aod
    chown system system /sys/class/drm/card0-DSI-1/notify_aod
    chmod 0666 /sys/class/drm/card0-DSI-1/force_screenfp
    chown system system /sys/class/drm/card0-DSI-1/force_screenfp
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_p3_mode
    chown system system  /sys/class/drm/card0-DSI-1/native_display_p3_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_wide_color_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_wide_color_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm_brightness
    chown system system /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock
    chown radio radio /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock
    chown radio radio /proc/force_reset
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_loading_effect_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_loading_effect_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_customer_srgb_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_customer_srgb_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_customer_p3_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_customer_p3_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chown system system /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chmod 0666 /sys/class/drm/card0-DSI-1/dither_en
    chown system system /sys/class/drm/card0-DSI-1/dither_en

    # TP Firmware
    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-004b/tp_fw_update 0
    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-0048/tp_fw_update 0

# Set sRGB calibration on Natural and Boosted Mode.
on property:persist.sys.sf.native_mode=0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 1

# Set unmanaged calibration on Saturated Mode.
on property:persist.sys.sf.native_mode=1
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 0

# Set P3 calibration on Adaptive/Automatic Mode.
on property:persist.sys.sf.native_mode=2
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 1
