#
# Copyright (C) 2022 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    chown system system /dev/oplus_display
    chown system system /sys/kernel/oplus_display/dimlayer_bl_en
    chown system system /sys/kernel/oplus_display/dynamic_osc_clock
    chown system system /sys/kernel/oplus_display/hbm
    chown system system /sys/kernel/oplus_display/notify_fppress
    chown system system /sys/kernel/oplus_display/panel_serial_number

on fs
    # Trigger touchpanel firmware update
    write /proc/touchpanel/tp_fw_update 0