#
# Copyright (C) 2022 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

# Reserve
/dev/block/bootdevice/by-name/oplusreserve1    0660    root    system

# Factory Reset Protection
/dev/block/bootdevice/by-name/frp 0600    system    system
